.venv
.env
.env.*
.pytest_cache
.mypy_cache
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
config/application_default_credentials.json
config/service-account.json
# Unit test / coverage reports
htmlcov/
.coverage
coverage.xml
*.cover

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Local development
*.log
.DS_Store
