txtai[ann,pipeline]>=6.0.0
fastapi>=0.115.5
uvicorn>=0.27.0
python-dotenv>=1.0.0
pydantic>=2.0.0
google-cloud-storage>=2.18.2
numpy
pandas
torch
transformers
faiss-cpu
scikit-learn
onnxruntime
onnxmltools
sentence-transformers